# Extração de Dados do Enade

In [1]:
# https://download.inep.gov.br/microdados/Enade_Microdados/microdados_enade_2019.zip

In [3]:
# Importar bibliotecas necessárias
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os

In [4]:
# Criar um diretório para armazenar o conteúdo do ENADE
os.makedirs("./enade2019", exist_ok=True)

In [5]:
# Define a URL
url = "https://download.inep.gov.br/microdados/Enade_Microdados/microdados_enade_2019.zip"

In [6]:
# Faz o download do content
filebytes = BytesIO(
    requests.get(url).content
)

In [7]:
# Descompacta de zip para a pasta enade2019
myzip = zipfile.ZipFile(filebytes)
myzip.extractall("./enade2019")

## Verificando os dados baixados

In [8]:
# Abre os dados do ENADE como pandas DataFrame
enade = pd.read_csv(
    "./enade2019/microdados_enade_2019/2019/3.DADOS/microdados_enade_2019.txt",
    sep = ";",
    decimal = ","
)

In [9]:
enade

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433925,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433926,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433927,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433928,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433929,2019,3948,10008,10022,95,5001378,1,4202909,42,4,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0

In [10]:
# Informações do dataframe
enade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433930 entries, 0 to 433929
Columns: 137 entries, NU_ANO to QE_I68
dtypes: float64(61), int64(33), object(43)
memory usage: 453.6+ MB

In [12]:
# Printa o schema
#dict(enade.dtypes)